.label, .btn-add {
    font-size: 20px !important;
    color: black;
}

.input-add {
    font-size: 20px !important;
    width: 500px !important;
    margin-left: 20px !important;
}
body, .form {
    text-align: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
}
.form {
    width: fit-content !important;
}
#btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-nav {
    font-size: 20px !important;
}
#btnprev {
    margin-right: 20px;
}
legend {
    font-size: 20px;
}